# Telegram Bot
BOT_TOKEN=your_telegram_bot_token_here

# 3X-UI Panel
XUI_URL=http://127.0.0.1:2096
XUI_BASE_PATH=/mysecretpath/
XUI_USERNAME=mik-admin
XUI_PASSWORD=your_xui_password_here

# VLESS Config
INBOUND_ID=1
VLESS_SERVER=frankfurt.ptr.network
VLESS_PORT=443
